.homeGuest {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .homeGuestItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .homeGuestImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .homeGuestName{
    color: #333;
    font-weight: bold;
  }
  
  .homeGuestCity{
    font-weight: 300;
  }
  
  .homeGuestPrice{
    font-weight: 500;
  }
  
  .homeGuestRating>button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .homeGuestRating>span{
    font-size: 14px;
  }